:root {
    /* Colors */
    --primaryDark: #2e6f95;
    --primary: #017997;
    --primaryLight: #aec5da;
    --secondary: #b7094c;
    --white: #edf6f9;
    --gray: #4c6b82;

    /* Shadow */
    --light: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.25),
        4px 4px 4px rgba(0, 0, 0, 0.25);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--white);

    font-family: "Nunito";
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: var(--white);
    font-weight: 800;
}

input,
button {
    background-color: transparent;
    border: 0px solid;
    outline: 0;
}

button {
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
}

textarea {
    background-color: transparent;
    border: none;
    resize: none;
    overflow: hidden;
    outline: 0;
}
